.container {
  background: #003be5;
  border-radius: 0.7rem;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  flex-shrink: 0;
  height: 29rem;
  margin-top: -10rem;
  padding-top: 11rem;
  width: 72rem;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}

td {
  color: #2fc18c;
  max-width: 8rem;
  overflow: hidden;
  padding: 8px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  color: white;
  max-width: 8rem;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td , th {
  border-bottom: 1px solid #ddd;
}

th:not( :last-child ) {
  border-right: 1px solid #ddd;
}

.btnDelete {
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  margin-right: 10px;
  padding: 5px;
}

.btnEdit {
  background-color: blue;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px;
}
